<!DOCTYPE html>
<html ng-app="es-app">

<head>
    <title>Otis Home</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
</head>

<body style="background-color:rgba(250, 250, 250, 0.54)">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Outis</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-toggle='modal' data-target='#data_upload'>Upload File</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="padding:6%" ng-controller="searchCtrl">
        <div class="col-sm-8">
            <div class="panel">
                <canvas id="myChart" width="400" height="100"></canvas>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <div ng-cloak>
                        <md-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Search">
                                    <md-content class="md-padding">
                                        <md-content layout-padding>
                                            <md-input-container class="md-block">
                                                <label>query</label>
                                                <input ng-model="user.address">
                                            </md-input-container>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>State</label>
                                                <md-select ng-model="user.state">
                                                    <md-option ng-repeat="state in states">
                                                        adasd
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-button class="md-raised md-primary">Search</md-button>
                                            <md-button class="md-raised md-default">Download</md-button>
                                        </md-content>
                                    </md-content>
<!--                                      <form ng-submit="searchdata(search)">
						                Search Query:
						                <br>
						                <input type="text" ng-model="search.query  ">
						                <br>
						                <select ng-model="search.option " ng-options="obj.value as obj.text for obj in array">
						                </select>
						                <button type="reset" ng-click="reset()">Reset</button>
						                <button type="submit" value="Submit">submit</button>
						            </form>
						            <form method="get" action="/static/data.csv">
						                <button type="submit">Export </button>
					            </form> -->
                                </md-tab>
                                <md-tab label="Aggigations">
                                    <md-content class="md-padding">
                                        <form ng-submit="aggrdata(aggr)">
                                            Search Analytics:
                                            <br>
                                            <input type="text" ng-model="aggr.query">
                                            <br>
                                            <select ng-model="aggr.option">
                                                <option value="sum">ADD</option>
                                                <option value="value_count">COUNT</option>
                                                <option value="terms">TERMS</option>
                                                <option value="avg">AVG</option>
                                            </select>
                                            <button type="reset" ng-click="resetaggr()">Reset</button>
                                            <button type="submit" value="Submit">submit</button>
                                        </form>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table" datatable="ng">
                        <thead>
                            <th>{{i}}</th>
                            <th>{{i}}</th>
                            <th>{{i}}</th>
                            <th>{{i}}</th>
                            <th>{{i}}</th>
                            <th>{{i}}</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in temp">
                                <td>[[x._source.attempt]]</td>
                                <td>[[x._source.error]]</td>
                                <td>[[x._source.error_type]]</td>
                                <td>[[x._source.query]]</td>
                                <td>[[x._source.success]]</td>
                                <td>[[x._source.time]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="data_upload" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Your file</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="uploadFile(myFile)">
                        Upload file:
                        <input type="file" file-model="myFile">
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/static/bower_components/angular/angular.js'></script>
    <script type="text/javascript" src='/static/bower_components/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='/static/bower_components/angular-aria/angular-aria.js'></script>
    <script type="text/javascript" src='/static/bower_components/angular-material/angular-material.js'></script>
    <script type="text/javascript" src='/static/angular.min.js'></script>
    <script type="text/javascript" src='/static/angular/app.js'></script>
    <script type="text/javascript" src='/static/angular/controller.js'></script>
    <script type="text/javascript" src='/static/angular/service.js'></script>
    <script type="text/javascript" src="/static/angular-datatables-master/dist/angular-datatables.min.js"></script>
    <script src="/static/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</body>

</html>
